<h1><%= @article.title %></h1>

<h4><%= @article.content %></h4>
<form method="post" action="/articles/<%= @article.id %>">
<input type="hidden" id="_method" name="delete" />
<input type="submit" />

</form>
